.logo-img{
    width: 100px;
    height: 100px;
}
.profil{
    color: rgb(0,255,255);
}
.profile-img{
    width: 250px;
    height: 300px;
    text-align: right;
    justify-content: right;
}
.img{
    text-align: right;
}
